* {
    margin: 0;
    padding: 0;
}

.loadingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    width: 100vw; 
    background: url('/src/img/로딩.gif') no-repeat center center; 
}

.loadingtext{
    margin-top: 300px;
    font-size: 200%;
    font-family: 'omyu_pretty';
    transition: color 1.5s ease;
}