/* * {
  border: 1px solid lightgray;
} */

.abody {
  display: flex;
  flex-direction: row;
}

.all_box {
  width: 80vw;
  height: 100vh;

  margin: 10px 10px 10px 10px;
}
.cam_box {
  width: 20vw;
  height: 100vh;
  background-color: rgb(34, 235, 61);
  border-radius: 15px;
}
.cam_box_result {
  width: 80vw;
  height: 50vh;
  background-color: rgb(192, 224, 45);
  border-radius: 15px;
}
.import_result {
  display: flex;
  position: relative;
  width: 80vw;
  height: 50vh;
  background-color: rgb(204, 178, 29);
  border-radius: 15px;
}

.text_result2 {
  width: 40vw;
  height: auto;
  background-color: rgb(87, 38, 202);
  border-radius: 15px;
}

.camera {
  width: 10vw;
}
