/* * {
  border: 1px solid lightgray;
} */

.abody {
  display: flex;
  flex-direction: row;
}

.all_box {
  width: 80vw;
  height: 100vh;
}
.cam_box {
  width: 20vw;
  height: 100vh;
}
.cam_box_result {
  width: 80vw;
  height: 50vh;
}
.import_result {
  display: flex;
  position: relative;
  width: 80vw;
  height: 50vh;
}

.text_result2 {
  width: 40vw;
  height: auto;
}

.camera {
  width: 10vw;
}
