/* 전역 스타일 초기화 */



::-webkit-scrollbar {
    display: none;
}


* {
    margin: 0;
    padding: 0;
}


.wrap {
    width: 100vw;
    height: 15vh;
}

/* 헤더 영역 스타일 */
.header {
    width: 100vw;
    height: 9vh;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 45%;
    width: 12%;
    height: 10%;
    font-size: medium;
}

  .logoMain {
    font-size: 24px; 
    font-weight: bold; 
  }
  
  .logoSub {
    font-size: 16px; 
    white-space: nowrap;
  }

.mainLogo{
    width: 50%;
    height: 50%;
    margin-right: 10px;
}

.mainLogo, .logotitle {
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
  }

/* 슬라이더 영역 스타일 */
.slider {
    display: flex;
    overflow: hidden;
    text-align: center;
}



  .slider1 {
    position: sticky;
    margin-top: 15px;
    width: 80vw;
    height: 85.5vh;
    background-color: #c7c7c7;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 15px;
  }

  .slider1 .imgslide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
 
  }

  .imgslide.active {
    display: block; 
}


.slider2-right {
    width: 65vw;
    height: 83vh;
    background-color: #c7c7c7;
    margin-right: 15px;
    margin-top: 15px;
}

.slider2-right .slider-right1 {
    height: 41.5vh;
    background-color: #a3a3a3;
   
}

.slider2-right .slider-right2 {
    height: 41.5vh;
    background-color: aqua;
    margin-top: 15px;
}

/* 컨텐츠 영역 스타일 */
.contents {
    width: 100vw;
    text-align: center;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 40px;
    
}

.contents .contentsection {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 가로로 3개의 열 생성 */
    height: 10vw;
    font-family: 'yg-jalnan', sans-serif;
    
  }

  .contents .contentsection img {
    width: 100%; 
    height: 13.5vh; 
  }
  
  .image-link {
    display: flex;
    flex-direction: column;
    align-items: center; /* 이미지와 텍스트를 중앙 정렬 */
    text-decoration: none; /* 링크의 밑줄 등 스타일 제거 */
  }
  
  .image-label {
    margin-top: 15px; /* 이미지와 레이블 사이의 간격 */
    color: #000; /* 텍스트 색상 */
    font-size: 16px; /* 텍스트 크기 */
  }

  .contents .contentsection2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* 모든 요소를 가운데 정렬 */
    width: 100%; /* 전체 너비 사용 */
    justify-content: center;
    align-items: center;
}


.Randomview {
    width: 38vw; /* 너비 조정 */
    height: 150px; /* 높이 조정 */
    background-color: #f0d7c3;
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px; 
    overflow: hidden; 
    font-family: 'omyu_pretty', sans-serif;
    font-size: 130%;
    border-radius: 20px;
}

.Randomview-2 {
    width: 38vw; 
    height: 150px; 
    background-color: #f0d7c3;
    margin-top: 10px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px; 
    overflow: hidden; 
    font-family: 'omyu_pretty', sans-serif;
    font-size: 130%;
    border-radius: 20px;
    font-size: 30px;
  }

  .selected-roulette-image {
    width: 110px; 
    height: auto; 
    object-fit: cover;
  }

.Menubar {
    width: 75%; 
    padding: 10px 0; 
    background-color: #af8565; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    font-family: 'yg-jalnan', sans-serif;
}

.Menubar:active {
    background-color: #f0e1d5; /* 버튼 클릭 시 배경색 변경 */
}

.contents .contentsection3 {
    background-color: #ca4f4f;
    height: 13vw;
    margin-top: 10px;
}

.contentsection3 {
  background-image: linear-gradient(to right, rgba(58, 52, 52, 0.7), rgba(119, 115, 115, 0.9)), url('../../img/냉장고내부.png');
  background-size: cover; 
  background-position: center; 
  color: #ffffff; 
  padding: 20px; 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 200px; 
  font-family: 'omyu_pretty', sans-serif;
  font-size: x-large;
}

.Expirationbtn{
  font-size: medium;
  text-align: center;
  margin-top: 20px;
  width: 30%;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: #f5e59c;
  cursor: pointer;
}

.Expirationbtn:active {
  background-color: #ee9715;
}