.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    width: 100vw; 
    background: url('/src/img/로딩.gif') no-repeat center center; 
    margin-left: 4%;
    
}
