.Mainsection {
  display: flex;
}
.slider2-right {
  margin-top: 15px; /* 상단 여백 조정 */
  border-radius: 15px; /* 테두리 둥글게 */
}

.slider2-right {
  width: 26vw;
  height: 83vh;
  margin-right: 15px;
  margin-top: 15px;
}

.slider2-right .slider-right1 {
  height: 61.5vh;
}

.slider2-right .slider-right2 {
  margin-top: 15px;
  background-color: aqua;
  height: 21.5vh;
}

/* 컨텐츠 영역 스타일 */
.contents {
  width: 65%;
  height: 85.3vh;
  text-align: center;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 40px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;
  bottom: 3.6vh;
  border-radius: 10px;
}

.contents .contentsection {
  z-index: 9;

  margin-bottom: 1vh;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 가로로 3개의 열 생성 */
  height: 10vw;
  font-family: "yg-jalnan", sans-serif;
}

.contents .contentsection img {
  width: 100%;
  height: 13.5vh;
}

.image-link {
  display: flex;
  flex-direction: column;
  align-items: center; /* 이미지와 텍스트를 중앙 정렬 */
  text-decoration: none; /* 링크의 밑줄 등 스타일 제거 */
}

.image-label {
  margin-top: 15px; /* 이미지와 레이블 사이의 간격 */
  color: #000; /* 텍스트 색상 */
  font-size: 16px; /* 텍스트 크기 */
}

.contents .contentsection2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* 모든 요소를 가운데 정렬 */
  width: 100%; /* 전체 너비 사용 */
  justify-content: center;
  align-items: center;
  height: 35%;
}

.Randomview {
  padding: 10px;
  width: 38vw; /* 너비 조정 */
  height: 190px; /* 높이 조정 */
  background-color: #ffed93;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  font-family: "omyu_pretty", sans-serif;
  font-size: 150%;
  border-radius: 10px;
  opacity: 80%;
}

.Randomview-2 {
  width: 38vw;
  height: 190px;
  background-color: #ffed93;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  font-family: "omyu_pretty", sans-serif;
  font-size: 130%;
  border-radius: 10px;
  font-size: 30px;
  opacity: 80%;
}

.selected-roulette-image {
  width: 110px;
  height: auto;
  object-fit: cover;
}

.Menubar {
  width: 75%;
  padding: 10px 0;
  background-color: #ff4f42;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "yg-jalnan";
  font-size: medium;
  opacity: 100%;
  margin-top: 20px; /* 버튼과 텍스트 사이의 간격 조정 */
  text-align: center; /* 버튼을 중앙 정렬 */
  transition: transform 0.5s ease;
}

.Menubar:active {
  background-color: #f87c7c; /* 버튼 클릭 시 배경색 변경 */
}

.contents .contentsection3 {
  background-image: linear-gradient(
      to right,
      rgba(58, 52, 52, 0.7),
      rgba(119, 115, 115, 0.9)
    ),
    url("../../img/냉장고내부.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
  font-family: "omyu_pretty", sans-serif;
  font-size: 170%;

  margin-top: 20px;
  width: 100%;
  height: 35%;
}

.Expirationbtn {
  font-size: medium;
  text-align: center;
  margin-top: 20px;
  width: 30%;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: #f5e59c;
  cursor: pointer;
}

.Expirationbtn:active {
  background-color: #ee9715;
}

.slider-right2 {
  background-image: linear-gradient(
      to right,
      rgba(58, 52, 52, 0.7),
      rgba(119, 115, 115, 0.9)
    ),
    url("../../img/fooood.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "yg-jalnan", sans-serif;
  transition: transform 0.5s ease;
}
.slider-right2:hover {
  transform: scale(0.96);
}

.contentsection3:hover {
  transform: scale(0.98);
}
.Menubar:hover {
  transform: scale(0.95);
}