.rsc {
  height: 100%;
  overflow: auto;
}

.rsc-footer {
  height: 10%;
  /* display: none; */
}

.rsc-submit-button {
  display: none;
}

.rsc-os-option-element,
.rsc-input {
  font-family: omyu_pretty;
  cursor: pointer;
  font-size: 2.85vh;
}
