/* * {
  border: 1px solid black;
} */

.abody {
  display: flex;
  flex-direction: row;
}

.all_box {
  width: 80vw;
  height: 100vh;
  border: 1px solid red;
}
.cam_box {
  width: 20vw;
  height: 100vh;
  border: 1px solid blue;
}
.cam_box_result {
  width: 80vw;
  height: 40vh;
  border: 1px solid green;
}
.import_result {
  display: flex;
  position: relative;
  width: 80vw;
  height: 60vh;
  border: 1px solid orangered;
}
.text_result {
  width: 500px;
  height: 60vh;
  border: 1px solid orange;
}
.text_result2 {
  width: 500px;
  height: 60vh;
  border: 1px solid rgb(122, 102, 65);
}