/* 전역 스타일 초기화 */
.backgroundwrap {
  background-image: url("../../img/back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100vw;
  height:100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

/* 헤더 영역 스타일 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 9vh;
}
.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 96.4vw;
  background-color: #ffffff;
  border-radius: 10px;
}
.logotitle {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  font-size: medium;
}

.logoMain {
  font-size: 3.5vh;
  font-weight: bold;
  font-family: "SOYOMapleBoldTTF";
}

.logoSub {
  font-size: 2.3vh;
  white-space: nowrap;
  font-family: "SOYOMapleBoldTTF";
}

.mainLogo {
  width: 50%;
  height: 50%;
  margin-right: 0.8vw;
}

.mainLogo,
.logotitle {
  cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
}

.selectButton {
  width: 10vw;
  padding: 1vw 0;
  background-color: #ff4f42;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "yg-jalnan";
  font-size: 1.05vw;
  opacity: 80%;
  position: absolute;
  left:88%;
}

/* 메인섹션 스타일 */
.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96.4vw;
  height:100%;
}
.main_main {
  width:70%;
  height: 85vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

/* 슬라이더 영역 스타일 */
.slider {
  display: flex;
  overflow: hidden;
  text-align: center;
  width:30%;
  margin-right: 2vw; /* 오른쪽 여백 추가 */
  height: 85vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.slider1 {
  position: sticky;
  width: 100%;
  background-color: #c7c7c7;
  overflow: hidden;
  border-radius: 7px;
  
}

.slider1 .imgslide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.imgslide.active {
  display: block;
  opacity: 1;
  z-index: 1;
}
