/* 전역 스타일 초기화 */

::-webkit-scrollbar {
  display: none;
}

/* -------------------- 카테고리 음식 영역 -------------------- */
.CategoryFood {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.food-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 48%);
  gap: 4% 2%;
  padding:1% 0 1% 0;
  height: 90%;
  width: 97%;
  overflow: auto;
  flex-wrap: wrap;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.5s ease;
  width:100%;
  height:100%;
}
.food-item-img {
  width:95%;
  height:90%;
  padding:5%;
}
.food-item-img img {
  width:100%;
  height:100%;
  cursor: pointer;
}
.no-data {
  width:70%;
  height:fit-content;
  padding:5%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
}
.no-data-btn {
  margin-top: 3%;
  cursor: pointer;
  background-color: #c7b7a3;
  font-size:3vh;
  border-radius: 10px;
  border:none;
  padding:2%;
}

.no-data-btn:hover {
  background-color:#e8d8c4;
}

.food-item:hover {
  transform: scale(1.1);
}

.commit-food-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:5%;
  font-size: 1.2vw;
  white-space: nowrap;
}

/* 페이지네이션 */
.pagination-container {
  width:100%;
  height:5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* 필요시 여러 줄로 나누어 표시 */
}

.pagination {
  align-items: center;
  justify-content: center;
  display: flex;
  list-style: none; /* 기본 리스트 스타일 제거 */
  width:auto;
  height:100%;
}

.pagination-container li {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  margin: 0.2vw; /* 버튼 사이의 간격 */
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  font-size: 1.1vw;
  padding: 0.5vh 0.8vw; /* 버튼 내부 패딩 */
  background-color: #f0f0f0; /* 배경색 */
  color: #333; /* 글자색 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.pagination-container a:hover {
  background-color: #ddd; /* 호버 시 배경색 변경 */
}

.active a {
  background-color: lightblue;
}