/* 전역 스타일 초기화 */

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/* -------------------- 카테고리 음식 영역 -------------------- */
.CategoryFood {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "yg-jalnan", sans-serif;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40%);
  gap: 0px 30px;
  padding: 0px;
  height: 100vh;
  overflow: auto;
}

.food-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.food-item img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease;
  margin-bottom: -23px !important;
  cursor: pointer;
}

.food-item img:hover {
  transform: scale(1.1);
}

.food-label {
  text-align: center;
}

/* ------------------------------------------------아래쪽 ChatbotCommit입니다------------------------------------------------ */

.commit_contents {
  width: 65%;
  height: 85vh;
  text-align: center;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 42px;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;
  bottom: 3.6vh;
}

.pagination {
  position: absolute;
  bottom: 10px;
  align-items: center;
  display: flex;
  list-style: none; /* 기본 리스트 스타일 제거 */
}
.pagination-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* 필요시 여러 줄로 나누어 표시 */
}

.pagination-container li {
  margin: 5px; /* 버튼 사이의 간격 */
}

.pagination-container a {
  display: block;
  padding: 5px 10px; /* 버튼 내부 패딩 */
  background-color: #f0f0f0; /* 배경색 */
  color: #333; /* 글자색 */
  border-radius: 5px; /* 버튼 모서리 둥글게 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

.pagination-container a:hover {
  background-color: #ddd; /* 호버 시 배경색 변경 */
}