/* 전역 스타일 초기화 */

::-webkit-scrollbar {
  display: none;
}
/* -------------------- 카테고리 음식 영역 -------------------- */
.CategoryFood {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
}

.food-container {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-template-rows: repeat(2, 50%);
  column-gap: 2%;
  row-gap: 2%;
  height:95%;
  width:95%;
  padding: 2%;
  overflow: auto;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.85);
}

.food-item-img {
  width:90%;
  height:80%;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.food-item-img img {
  width:100%;
  height:100%;
}

.food-item-img:hover {
  transform: scale(1.1);
}

.food-label {
  width:90%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ------------------------------------------------아래쪽 ChatbotCommit입니다------------------------------------------------ */
