/* 전역 스타일 초기화 */

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

/* -------------------- 카테고리 음식 영역 -------------------- */
.RandomFoodresult {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%; /* 부모 컨테이너의 너비 */
  height: 100%; /* 필요한 경우 높이 설정 */
  background-color: rgba(255, 255, 255, 0.85);
}

.foodrecipe,
.recipeDetails {
  flex: 1; /* 두 컨테이너가 동일한 너비를 가지도록 설정 */
}

.resultfood {
  width: 400px; /* 예시로 200px의 너비를 설정 */
  height: 380px; /* 예시로 200px의 높이를 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 20px;
  font-family: "yg-jalnan", sans-serif;
  font-size: 25px;
  object-fit: cover;
}

.resultfood img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-label {
  text-align: center;
  margin-top: 50px;
}

.ingredient,
.CookResipe {
  text-align: right;
  margin-bottom: 10px;
  align-self: flex-start;
  flex: 1;
  text-align: left;
  font-family: "GmarketSansMedium";
  font-size: 16px;
}

.CookResipe {
  margin-top: 40px;
}

.Foodtag {
  margin-top: 130px;
  font-family: "GmarketSansMedium";
}
