.Select_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.Select_box_header {
  border-bottom: 2px solid black;
  width:100%;
  text-align: center;
  background-color: antiquewhite;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: omyu_pretty;
  font-size: 30px;
  margin-bottom: 5px;
}
.Select_box_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:90%;
}
.Select_box_msg {
  font-family: omyu_pretty;
  font-size: 25px;
}
.Select_box_content > div {
  margin-bottom:5px;
}
.Select_box_btn {
  font-family: omyu_pretty;
  font-size: 25px;
  background-color: lightblue;
  border:none;
  width:40%;
  height:20%;
  border-radius: 10px;
  cursor: pointer;
  margin-top:10px;
}

.Select_box_btn:hover {
  background-color:lightcyan;
}
