.Vbody {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.color-change-5x {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #eea2a2;
  }
  25% {
    background: #bbc1bf;
  }
  50% {
    background: #57c6e1;
  }
  75% {
    background: #b49fda;
  }
  100% {
    background: #7ac5d8;
  }
}

@keyframes ldio-fi0u2squulj {
  0% {
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.ldio-fi0u2squulj div:nth-child(1) {
  border-color: rgb(219, 210, 210);
  animation-delay: 2s;
  display: none;
}
.ldio-fi0u2squulj div:nth-child(2) {
  border-color: rgb(219, 210, 210);
  animation-delay: 1s;
}
.loadingio-spinner-ripple-y05os7hhvii {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
  position: relative;
}
.ldio-fi0u2squulj {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.ldio-fi0u2squulj div {
  box-sizing: content-box;
  border-color: lightgray;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 20px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-fi0u2squulj 2s cubic-bezier(0, 0.1, 0.5, 1) infinite;
}
.homebtndiv {
  width:100%;
  display: flex;
  justify-content: right;
  margin:10.5vh 8.5vw 0 0;
}
.homebtn {
  height: 9.5vh;
}

.homebtn:hover {
  cursor: pointer;
  filter: invert(100%);
}

.recbtn {
  position: absolute;
  bottom:10%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 12.25vh;
}

.recbtn:hover {
  cursor: pointer;
  filter: invert(100%);
}

.audiobox {
  display: flex;
  flex-direction: column;
  margin-top:65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waveform {
  height: 9.5vh;
  width: 32vw;
}

.ptag {
  position: absolute;
  bottom:40%;
  color: black;
  text-align: center;
  
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
  .back {
    font-family:"Roboto";
  }
  .back span {
    font-size:6.5vh;
    color:#74553e;
    background:#ececec;
    display:table-cell;
    box-shadow:0 0 0.5vh  rgba(0,0,0,0.3), 0 5px 0 #ccc;
    padding: 0 2.05vh;
    line-height:14vh;
    animation:jumb 2s infinite;
  }
  @keyframes jumb {
    0% {
      transform:translateY(0vh)
    }
    50% {
      transform:translateY(-5vh);
      box-shadow:0 2.05vh 0 rgb(242, 198, 64);
    }
    100% {
      transform:translateY(0vh) 
    }
  }
  .back span:nth-child(1) {
    animation-delay:0s;
  }
  .back span:nth-child(2) {
    animation-delay:0.1s;  
  }
  .back span:nth-child(3) {
    animation-delay:0.2s;
  }
  .back span:nth-child(4) {
    animation-delay:0.3s;  
  }
  .back span:nth-child(5) {
    animation-delay:0.4s;
  }
  .back span:nth-child(6) {
    animation-delay:0.5s;  
  }
  .back span:nth-child(7) {
    animation-delay:0.6s;
  }
  .back span:nth-child(8) {
    animation-delay:0.7s;
  }
  .back span:nth-child(9) {
    animation-delay:0.8s;
  }
  .back span:nth-child(10) {
    animation-delay:0.9s;
  }
  .back span:nth-child(11) {
    animation-delay:1.0s;
  }
  .back span:nth-child(12) {
    animation-delay:1.1s;
  }
  .back span:nth-child(13) {
    animation-delay:1.2s;
  }
  .back span:nth-child(14) {
    animation-delay:1.3s;
  }
  .back span:nth-child(15) {
    animation-delay:1.4s;
  }

.hidden{
  display: none;
}