/* 전역 스타일 초기화 */

::-webkit-scrollbar {
  display: none;
}

/* -------------------- 카테고리 음식 영역 -------------------- */

.Voicecontents {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Voicefoodresipe {
  background-color: rgba(250, 250, 250, 0.85);
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:1%;
  border-radius: 10px;
  margin-right:1%;
}

.Voicefoodresipe img {
  width: 90%;
  height: 90%;
}

.Voicefood-label {
  margin-top:5%;
  font-size: 3vh;
}

.VoicerecipeDetails {
  width:55%;
  height:70%;
  padding:1%;
  background-color: rgba(250, 250, 250, 0.85);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.VoiceText {
  width:95%;
  height:90%;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  margin: 1.5vh;
  border: 0.2vh solid #fdaf6f;
  background-color: #fdffe3;
  border-radius: 10px;
  box-shadow: 0px 0.4vw 0.8vh rgba(0, 0, 0, 0.1);
  opacity: 80%;
}

.Voiceingredient1 {
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.2vh;
  font-size: 2.9vh;
}

.VoiceCookBold {
  font-weight: bold;
  text-align: left;
  font-size: 2.7vh;
  margin-bottom: -1.2vh;
}

.Voiceingredient2,
.VoiceCookResipe1 {
  text-align: right;
  margin-bottom: 1.2vh;
  text-align: left;
  font-size: 2.1vh;
}

.VoiceButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:10%;
}

.Voicebtn {
  width: 20%;
  padding: 1.5% 0;
  background-color: #f7bdb9;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2.2vh;
  opacity: 100%;
  text-align: center;
  margin-right: 4.5vw;
  transition: transform 0.3s ease
}

.Voicebtn:hover{
  transform: scale(1.1);
}

.VoiceLoadingbtn{
  width: 20%;
  padding: 1.5% 0;
  background-color: #d3f1d0;
  color: #000000;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2.2vh;
  opacity: 100%;
  text-align: center;
  margin-right: 4.5vw;
  transition: transform 0.3s ease
}

.VoiceLoadingbtn:hover{
  transform: scale(1.1);
}

.resulthomebtn {
  width:100%;
  display: flex;
  justify-content: right;
  margin:3vh 13.5vw 0 0;
  z-index: 1000;
}
.resulthomebtn {
  height: 0vh;
}
.homebtn {
  height: 9.5vh;
  filter: invert(100%);
}
.homebtn:hover {
  cursor: pointer;
  filter: invert(0%);
}

.color-change-5x {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #ff8080;
  }
  25% {
    background: #f6fdc3;
  }
  50% {
    background: #f4f27e;
  }
  75% {
    background: #cdfad5;
  }
  100% {
    background: #ffcf96;
  }
}